body {
    background-color: antiquewhite;
    text-align: center;
    margin-top: auto;
    font-family: 'Roboto', sans-serif;
}
.game img {
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.game p, .guesses, lastResult, lowOrHigh {
    line-height: 1.7em;
}
.guessField {
    padding: 0.7%;
}
.guessSubmit {
    padding: 0.7%;
    background-color: blueviolet;
    color: #fff;
    border: none;
    
}